# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*~

# auto* stuff
autom4te.cache
Makefile.in
Makefile
.deps/
aclocal.m4
config.log
config.status
configure
libtool
unix/compile
unix/config.guess
unix/config.h
unix/config.sub
unix/depcomp
unix/install-sh
unix/libtool.m4
unix/ltmain.sh
unix/ltoptions.m4
unix/ltsugar.m4
unix/ltversion.m4
unix/lt~obsolete.m4
unix/missing
unix/sidplay2.spec
unix/stamp-h1
